
.products-latest{
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.products-latest>h1{
    font-size: 35px;
}
.products>.products-nav{
    width: 700px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.products>.products-nav>ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.products>.products-nav>ul>li{
    color: black;
    border: 1px solid black;
    border-radius:5%;
    padding: 10px;
    cursor: pointer;
    font-weight: 300;
}

.products>.products-nav>ul>li:hover{
    background-color: black;
    color: white;
}

.latest-product-box{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}


.product-container{
    width: 250px;
    height:400px;
    padding: 10px;
}

.product-image-container{
    width: 70%;
    height: 50%;
}

.product-image-container>img{
    width: 100%;
}

.product-title{
    font-size: 20px;
}

.buyBtn{
    color: black;
    background: white;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buyBtn:hover{
    color: white;
    background-color: black;
}