.prod-cont{
    min-width:1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.prod-img{
    width: 50%;
    height: 400px;
}

.prod-img>img{
    width: 90%;
    height:70%;
}

.prod-rate{
    font-size: 20px;
    font-weight:300;
}

.prod-price{
    font-size: 25px;
    font-weight: 400;
}

.prod-desc{
    width: 600px;
    text-align: justify;
    font-size: 15px;
}

.prod-btns{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
}


