nav{
    width:100vw;
    margin-top: -20px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background: black;
    padding: 15px;
    border-bottom: 2px solid white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-size: 30px;
}

.cart-logo{
    color: red;
    top: -12px;
    position: relative;
    font-size: 20px;
}
